<div class="signupForm">
  <div class="offset-lg-2 col-lg-8 my-1" *ngIf="regForm">
    <form action="" class="container" [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
      <div class="card ">
        <div class="card-header bs-success" style="background-color: #e3f2fd;">
          <h1>Registration Form</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Ex.. Ram Jain">
              </div>
              <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="tel" class="form-control" formControlName="mobNumber" placeholder="Ex.. 78965*****">
              </div>
              <div class="form-group">
                <label for="age">Enter You Age</label>
                <input type="number" class="form-control" formControlName="age" placeholder="Ex.. 22">
              </div>
              <div class="form-group">
                <label for="dob">Enter You Date Of Birth</label>
                <input type="date" class="form-control" formControlName="dob">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Ex.. abc@email.com" formControlName="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Ex.. Abcd123@" formControlName="password">
              </div>
              <div class="form-group">
                <label for="address1">Address Line1</label>
                <input type="text" class="form-control" placeholder="Ex.. ground floor" formControlName="addressLine1">
              </div>
              <div class="form-group">
                <label for="address2">Address Line2</label>
                <input type="text" class="form-control" placeholder="Ex.. park street" formControlName="addressLine2">
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <select id="inputState" class="form-control" formControlName="state">
                  <option selected>Select your State</option>
                  <option *ngFor="let state of states" value="state">{{state}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" placeholder="Ex.. Bhopal" formControlName="city">
              </div>
              <div class="form-group">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control" placeholder="Ex.. 470552" formControlName="zip">
              </div>
              <div class="form-group">
                <label for="language">Language <i style="font-size:12px; color: gray;">You can select multiple languages</i></label>
                <select multiple class="form-control" formControlName="language">
                  <option selected>Select your Language</option>
                  <option value="hindi">Hindi</option>
                  <option value="english">English</option>
                  <option value="gujarati">Gujarati</option>
                  <option value="marathi">Marathi</option>
                  <option value="telugu">Telugu</option>
                  <option value="kannada">Kannada</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-inline" name="gender" formControlName="gender" value="male">
                  <label for="male" class="form-check-inline">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-inline" name="gender" formControlName="gender" value="female">
                  <label for="female" class="form-check-inline">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-inline" name="gender" formControlName="gender" value="other">
                  <label for="other" class="form-check-inline">Other</label>
                </div>
              </div>
              <div class="from-group">
                <label for="somethingAboutYou">Something About You</label>
                <textarea rows="3" class="form-control" formControlName="aboutYou"></textarea>
              </div>
              <div class="from-group">
                <label for="uploadYourPhoto">Upload Your Photo</label>
                <input type="file" class="form-control" formControlName="uploadPhoto">
              </div>
              <div class="form-group">
                <label for="role">What role do you want?</label>
                <select class="form-control" formControlName="role">
                  <option selected>Select Your Role</option>
                  <option value="seller">Seller</option>
                  <option value="buyer">Buyer</option>
                </select>
              </div>
              <div class="from-group">
                <input type="checkbox" class="form-check-inline" formControlName="agreetc">
                <label for="agreetc">Agree Terms and Condition</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer" style="background-color: #e3f2fd;">
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
    </form>
    <p class="sim-pointer" routerLink="/sign-in">Already have an account, Click here to login</p>
  </div>

  <div class="offset-lg-2 col-lg-8 my-1" *ngIf="!regForm">
    <form class="container" name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
      <div class="card ">
        <div class="card-header bs-success" style="background-color: #e3f2fd;">
          <h1>Login Form</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Ex.. abc@email.com" name="#userEmail" [(ngModel)]="signInFormValue.userEmail" #userEmail="ngModel" required email>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Ex.. Abcd123@" name="userPassword" [(ngModel)]="signInFormValue.userPassword" #userPassword="ngModel" minlength="6" togglePassword required password>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer" style="background-color: #e3f2fd;">
          <div class="form-group">
            <button class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </form>
    <p class="sim-pointer" routerLink="/sign-up">Don't have an account, Click here to Register</p>
  </div>
</div>
